header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: aqua; */
  position: relative;
  z-index: 0;
}
