@import "../style/design-tokens.css";

@keyframes infinteText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.text-wrapper {
  display: flex;
  align-items: center;
  padding-left: 100%;
  z-index: 1;
}
.text-animated {
  font-size: 11em;
  text-shadow: 2px 2px var(--rodd-component-button-shadow-effect-200), -2px -2px var(--rodd-component-button-shadow-effect-100);
  white-space: nowrap;
  animation: infinteText 60s linear infinite;
  display: flex;
}
