@import "./style/design-tokens.css";
@import "../build/web/variables.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  shape-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  color: var(--rodd-semantic-text-primary);

  body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-color: var(--rodd-semantic-background-dark);
  }
}
